<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name="com.example.android.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.android.SplashActivity"
            android:configChanges="screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.activity.ActivityTestActivity"
            android:documentLaunchMode="none"
            android:supportsPictureInPicture="true"
            tools:targetApi="n" />
        <activity android:name="com.example.android.activity.LaunchTestActivity" />

        <activity
            android:name="com.example.android.activity.second.SecondActivity"
            android:process=":second" />
        <activity
            android:name="com.example.android.activity.main.NewTaskActivity"
            android:taskAffinity=":newTask" />
        <activity
            android:name="com.example.android.activity.main.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.example.android.activity.main.SingleInstance1Activity"
            android:launchMode="singleInstance" />
        <activity android:name="com.example.android.view.canvas.ViewActivity" />
        <activity android:name="com.example.android.activity.main.SaveInstanceTestActivity" />
        <activity android:name="com.example.android.TestSplashActivity" />
        <activity android:name="com.example.android.fragment.FragmentTestActivity" />
        <activity android:name="com.example.android.fragment.NavigationTestActivity" />
        <activity android:name="com.example.android.provider.ProviderTestActivity" />
        <activity android:name="com.example.android.receiver.BroadcastReceiverTestActivity" />
        <activity android:name="com.example.android.service.ServiceTestActivity" />
        <activity android:name="com.example.android.sharedpreference.SharedPreferenceTestActivity" />
        <activity
            android:name="com.example.android.activity.main.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.example.android.activity.main.SingleTaskActivity"
            android:allowTaskReparenting="true"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask" />
        <activity
            android:name="com.example.android.activity.second.OtherSingleTaskActivity"
            android:launchMode="singleTask"
            android:taskAffinity=":other" />
        <activity
            android:name="com.example.android.dice.DiceActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.android.lottie.LottieTestActivity" />
        <activity android:name="com.example.android.glide.GlideActivity" />
        <activity android:name="com.example.android.okhttp.OKHttpActivity" />
        <activity
            android:name="com.example.android.activity.main.FullscreenActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name="com.example.android.activity.main.ConfigurationActivity" />
        <activity
            android:name="com.example.android.activity.main.ResourcesActivity"
            android:configChanges="locale" />
        <activity android:name="com.example.android.view.ViewTestActivity" />
        <activity android:name="com.example.android.view.viewpager.ViewPagerTestActivity" />
        <activity android:name="com.example.android.view.recyclerview.RecyclerViewTestActivity" />
        <activity android:name="com.example.android.native.NativeTestActivity" />


        <service android:name="com.example.android.service.MainService" />
        <service
            android:name="com.example.android.service.AidlService"
            android:exported="true"
            android:process=":test">
            <intent-filter>
                <action android:name="com.test.action" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </service>

        <receiver android:name="com.example.android.receiver.MainBroadcastReceiver">
            <intent-filter>
                <action android:name="com.example.receiver" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.example.android.provider.MainContentProvider"
            android:authorities="com.example.provider" />
        <provider
            android:name="com.example.android.provider.MoreContentProvider"
            android:authorities="com.example.provider1;com.example.provider2;com.example.provider3" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>