<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.learnandroidframework">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.learnandroidframework.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityTestActivity"
            android:documentLaunchMode="none"
            tools:targetApi="lollipop" />

        <activity
            android:name="com.example.learnandroidframework.activity.second.SecondActivity"
            android:process=":second" />
        <activity
            android:name="com.example.learnandroidframework.activity.main.NewTaskActivity"
            android:taskAffinity=":newTask" />
        <activity
            android:name="com.example.learnandroidframework.activity.main.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.example.learnandroidframework.activity.main.SingleInstance1Activity"
            android:launchMode="singleInstance" />
        <activity android:name=".view.ViewActivity" />
        <activity android:name="com.example.learnandroidframework.activity.main.SaveInstanceTestActivity" />
        <activity android:name=".TestSplashActivity" />
        <activity android:name=".fragment.FragmentTestActivity" />
        <activity android:name=".fragment.NavigationTestActivity" />
        <activity android:name=".provider.ProviderTestActivity" />
        <activity android:name=".receiver.BroadcastReceiverTestActivity" />
        <activity android:name=".service.ServiceTestActivity" />
        <activity android:name=".sharedpreference.SharedPreferenceTestActivity" />
        <activity
            android:name=".activity.main.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.main.SingleTaskActivity"
            android:allowTaskReparenting="true"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.second.OtherSingleTaskActivity"
            android:launchMode="singleTask"
            android:taskAffinity=":other" />
        <activity
            android:name=".dice.DiceActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".lottie.LottieTestActivity" />

        <service android:name=".service.MainService" />
        <service android:name=".service.AidlService" />

        <receiver android:name=".receiver.MainBroadcastReceiver">
            <intent-filter>
                <action android:name="com.example.receiver" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.MainContentProvider"
            android:authorities="com.example.provider" />
        <provider
            android:name=".provider.MoreContentProvider"
            android:authorities="com.example.provider1;com.example.provider2;com.example.provider3" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>